.input-field {
    width: 100%;
    color: rgba(0, 0, 0, 0.75);
    line-height: 1.50;
    border-color: #000;
    border-bottom-width: 1px;
    -webkit-appearance: none;
    background-color: transparent;
    padding: 2px 0px;
}
.input-field:focus, .input-field:hover {
    outline: 0;
    border-color: '#000';
}
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
.sm-spinner {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}